// Copy icon
.copy-icon {
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;

  &::before {
    border: 1px solid $medium;
    border-radius: 2px;
    content: '';
    display: block;
    height: .8em;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color .3s ease;
    width: .65em;
  }

  &::after {
    background: $white;
    border: 1px solid $medium;
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 0 0 1px $white;
    content: '';
    display: block;
    height: .8em;
    position: absolute;
    right: 0;
    transition: border-color .3s ease;
    width: .65em;
  }

  *:hover > &,
  *:focus > & {
    &::before,
    &::after {
      border-color: $primary;
    }
  }
}
