// Drop in
@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-in {
  animation: drop-in $t ease;
}

// Fade in
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in $t ease;
}

// Flippers
.flip {
  transition: transform $t ease;

  [aria-expanded='true'] & {
    transform: rotate(180deg);
  }
}
