// Menu items
.menu-item {
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: space-between;
  padding: .5em 1em;
  text-align: left;
  transition: background-color $t ease, color $t ease;
  width: 100%;

  &:hover,
  &:focus {
    background: transparentize($darker, .97);
    color: $primary;
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 3px inset transparentize($info, .5);
  }
}
