*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f7f8f8;
  color: #1f2122;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ec523d;
  transition: color 0.2s ease;
}
a:hover, a:focus {
  color: #eb462f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2em;
  margin: 0;
}
p + h1, ul + h1, ol + h1, pre + h1,
p + h2,
ul + h2,
ol + h2,
pre + h2,
p + h3,
ul + h3,
ol + h3,
pre + h3,
p + h4,
ul + h4,
ol + h4,
pre + h4,
p + h5,
ul + h5,
ol + h5,
pre + h5,
p + h6,
ul + h6,
ol + h6,
pre + h6 {
  margin-top: 1.6em;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.25em;
  font-weight: 900;
}
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin: 0;
}
p + p, ul + p, ol + p, pre + p {
  margin-top: 1.6em;
}

ol,
ul {
  margin: 0;
  padding: 0 0 0 2.2em;
}
ol li + li,
ul li + li {
  margin-top: 0.75em;
}
p + ol, ul + ol, ol + ol, pre + ol,
p + ul,
ul + ul,
ol + ul,
pre + ul {
  margin-top: 1.6em;
}

ul {
  list-style-type: square;
}
ul ul {
  list-style-type: circle;
}

hr {
  background: #f2f3f3;
  border: 0;
  height: 1px;
  margin: 1.6em 0;
}
@media only screen and (min-width: 801px) {
  hr {
    margin: 2.2em 0;
  }
}

code,
pre,
.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
  overflow-x: auto;
}

.shortcut {
  color: #aaaeb0;
  font-family: sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.2em;
}
.shortcut.light {
  color: rgba(255, 255, 255, 0.5);
}

.input {
  background: #fff;
  border: 1px solid #e3e7e9;
  border-radius: 4px;
  color: #1f2122;
  display: block;
  font-size: inherit;
  height: 50px;
  padding: 0 16px;
  resize: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.input:focus {
  border-color: #4cadca;
  box-shadow: 0 0 4px inset rgba(76, 173, 202, 0.5);
  outline: none;
}
.input.wide {
  display: block;
  width: 100%;
}
.input.tall {
  height: auto;
  padding: 16px;
}
.input.no-resize {
  resize: none;
}
.input::placeholder {
  color: #c6cfd3;
}

.btn {
  background: #454849;
  border: 1px solid #393b3c;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  padding: 0 12px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.btn strong {
  color: #454849;
}
.btn:hover, .btn:focus {
  background-color: #393b3c;
}
.btn.pill {
  border-radius: 20px;
  padding: 0 16px;
}
.btn.sm {
  font-size: 12px;
  height: 30px;
}
.btn.sm.pill {
  border-radius: 15px;
  padding: 0 12px;
}
.btn.light {
  background-color: #d5dbde;
  border-color: #c6cfd3;
  color: #767b7e;
}
.btn.light:hover, .btn.light:focus {
  background-color: #ccd3d7;
}
.btn.medium {
  background-color: #767b7e;
  border-color: #6a6e71;
}
.btn.medium:hover, .btn.medium:focus {
  background-color: #6a6e71;
}
.btn.primary {
  background-color: #ec523d;
  border-color: #ea3d26;
}
.btn.primary:hover, .btn.primary:focus {
  background-color: #ea3d26;
}
.btn.secondary {
  background-color: #e0c85d;
  border-color: #dcc148;
  color: #454849;
}
.btn.secondary:hover, .btn.secondary:focus {
  background-color: #dcc148;
}
.btn.info {
  background-color: #4cadca;
  border-color: #3aa3c3;
}
.btn.info:hover, .btn.info:focus {
  background-color: #3aa3c3;
}
.btn.danger {
  background-color: #cc3d50;
  border-color: #be3244;
}
.btn.danger:hover, .btn.danger:focus {
  background-color: #be3244;
}
.btn.success {
  background-color: #50c78f;
  border-color: #3dc083;
}
.btn.success:hover, .btn.success:focus {
  background-color: #3dc083;
}
.btn.clear {
  background-color: transparent;
  border-color: transparent;
}
.btn:focus {
  border-color: #4cadca;
  box-shadow: 0 0 6px rgba(76, 173, 202, 0.8);
  outline: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.arrow-down::before {
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: inherit;
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.icon.copy {
  height: 12px;
  position: relative;
  width: 10px;
}
.icon.copy::before, .icon.copy::after {
  border: 1px solid #fff;
  border-radius: 1px;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  transition: border-color 0.3s ease;
  width: 7px;
}
.icon.copy::before {
  left: 0;
  top: 0;
}
.icon.copy::after {
  background: #4cadca;
  bottom: 0;
  box-shadow: 0 0 0 1px #4cadca;
  right: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 24px rgba(31, 33, 34, 0.2);
  left: 0;
  padding: 12px 0;
  position: absolute;
  top: 100%;
  width: 180px;
  z-index: 1;
}
.dropdown-menu:not(.active) {
  display: none;
}
.dropdown-menu.sm {
  width: 120px;
}
.dropdown-menu.lg {
  width: 250px;
}
.dropdown-menu.align-right {
  left: auto;
  right: 0;
}

.tooltip-anchor {
  position: relative;
}
.tooltip-anchor:hover .tooltip, .tooltip-anchor:focus .tooltip {
  display: block;
}
.tooltip-anchor:hover .tooltip-copied, .tooltip-anchor:focus .tooltip-copied {
  display: none;
}
.tooltip-anchor.copied:hover .tooltip, .tooltip-anchor.copied:focus .tooltip {
  display: none;
}
.tooltip-anchor.copied:hover .tooltip-copied, .tooltip-anchor.copied:focus .tooltip-copied {
  display: block;
}
.tooltip-anchor.copied .tooltip-copied {
  display: block;
}

.tooltip {
  background: rgba(31, 33, 34, 0.9);
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 12px;
  line-height: 24px;
  margin-right: 8px;
  margin-top: -12px;
  padding: 0 6px;
  position: absolute;
  right: 100%;
  top: 50%;
  white-space: nowrap;
}
.tooltip::after {
  border: 4px solid transparent;
  border-left-color: rgba(31, 33, 34, 0.9);
  border-right: 0;
  content: "";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 0;
}
.tooltip .shortcut {
  margin-left: 1em;
}

.menu-item {
  align-items: center;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: space-between;
  padding: 0.5em 1em;
  text-align: left;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
}
.menu-item:hover, .menu-item:focus {
  background: rgba(31, 33, 34, 0.03);
  color: #ec523d;
  outline: none;
}
.menu-item:focus {
  box-shadow: 0 0 3px inset rgba(76, 173, 202, 0.5);
}

.app {
  display: grid;
  grid-template-rows: auto 40px;
  height: 100vh;
}

.toolbelt {
  display: grid;
  grid-template-rows: auto 50px auto;
}

.in,
.out {
  display: grid;
  grid-template-rows: 100%;
  padding: 16px;
}
@media only screen and (min-width: 801px) {
  .in,
.out {
    padding: 32px;
  }
}

.in {
  padding-bottom: 0;
}

.out {
  padding-top: 0;
  position: relative;
}
.out .copy-btn {
  position: absolute;
  right: 16px;
  top: 0;
}
@media only screen and (min-width: 801px) {
  .out .copy-btn {
    right: 32px;
  }
}

.belt {
  align-content: center;
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: auto auto 1fr auto;
  padding: 0 16px;
  position: relative;
}
@media only screen and (min-width: 801px) {
  .belt {
    padding: 0 32px;
  }
}

.arrow {
  color: rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  font-size: 50px;
  left: 50%;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.footer {
  align-content: center;
  background: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #767b7e;
  display: grid;
  font-size: 13px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0 16px;
}
.footer strong {
  color: #454849;
}
@media only screen and (min-width: 801px) {
  .footer {
    padding: 0 32px;
  }
}

.footer-links {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(3, auto);
}
.footer-links svg {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
.footer-links a {
  color: #1f2122;
  text-decoration: none;
}
.footer-links a path {
  fill: #1f2122;
  transition: fill 0.2s ease;
}
.footer-links a .label {
  display: none;
}
.footer-links a:hover, .footer-links a:focus {
  color: #ec523d;
}
.footer-links a:hover path, .footer-links a:focus path {
  fill: #ec523d;
}
@media only screen and (min-width: 601px) {
  .footer-links a .label {
    display: inline-block;
    vertical-align: middle;
  }
}

.unlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.unlist li + li {
  margin-top: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.drop-in {
  animation: drop-in 0.2s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.2s ease;
}

.flip {
  transition: transform 0.2s ease;
}
[aria-expanded=true] .flip {
  transform: rotate(180deg);
}

/*# sourceMappingURL=/app.a3fb41f6.css.map */